html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
    width: 100%;  /* Ensure body doesn't exceed viewport width */
    min-height: 100%; /* Ensure body fills the entire height of the viewport */
    scroll-behavior: smooth;
    background-color: #060B0E;
    
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;;
}


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    padding: 8px 13px;
}



header nav{
    display: flex;
    justify-content: space-between;
    padding: 13px 8px;
    position: relative;
}
.lg-img{
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    font-weight: 600;
}
.lg-img div {
    height: 55px;
    width: 305px;
}
.lg-img div > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header a{
    color: white;
    transition: ease .4s;
}
header a:hover{
    color: #223A4A;
}
.lg-nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    font-size: 30px;
    font-weight: 600;
}
.lg-nav-links div{
    display: flex;
    justify-content: center;
    gap: 33px;
}
.lg-nav-links div > a{
    color: white;
    background-color: #223A4A;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #42708f;
}
.lg-nav-links a:hover{
    background-color: #42708f;
}

.mbl-img , .mbl-button , .mbl-menu{
    display: none;
}

#contact-us-btn{
    background-image: linear-gradient(135deg, #63AAE3 0%, #1F77B4 100%);
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 8px 33px;
    font-size: 19px;
}
#contact-us-btn:hover{
    background-image: linear-gradient(135deg,#1F77B4  0%, #63AAE3 100%);
}




.section-contact{
    padding: 45px 15px;
}



.contact-form input , textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px slategrey;
    transition: ease 1s;
    font-size: 23px;
    outline: none;
    margin-top: 13px;
    padding: 10px 4px;
    background-color: transparent;
}
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.contact-form input, textarea{
    color: slategray;
}
.contact-form input:focus{
    border-bottom: solid 1px #1F77B4;
}
.contact-form input:hover , textarea:hover{
    border-bottom: solid 1px #1F77B4;
}
.contact-form div{
   display: flex;
   gap: 15px;

}
.contact-form button{
    padding: 9px 13px;
    background-color: #223A4A;
    color: white;
    border: none;
    outline: none;
    margin-top: 15px;
    cursor: pointer;
}
p{
    color: slategray;
}



.head-services{
    color: #1F77B4;
    font-size: large;
    font-weight: bold;
}
.head-label h1{
    font-size: 53px;
    color: white;
}
.info-block{
    color: white;
}

.info-block a{
    color:white;
    background-color: #1F77B4;
    padding: 10px;
    margin-top: 13px;
    font-size: 33px;
    display: block;
    width: fit-content;
    border-radius: 10px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px 33px;
    background-color: #0D161C;
    flex-wrap: wrap;
    gap: 53px;

}
footer div,ul{
    flex-grow: 1;
    flex-basis: 200;
}

footer p{
    color: slategray;
}
footer h2{
    color: white;
}
ul{
    display: flex;
    gap: 33px;
    align-items: center;
    
}

ul li a{
    color: white;
}
footer form{
    display: flex;
    margin-top: 13px;
}
footer form input{
    background-color: #060B0E;
    padding: 13px 8px;
    outline: none;
    border-radius: 10px;
    border: none;
    color: white;
}

form  input,#submit{
    flex-grow: 1;
    flex-basis: 200;
}



@media screen and (max-width: 850px) {

    .lg-img, .lg-nav-links{
        display: none;
    }
    .mbl-img{
        display: block;
        height: 55px;
        width: 305px;
    }
    .mbl-menu{
        width: 97%;
        position: absolute;
        background-color: #223A4A;
        top: 84px;
        padding: 8px 13px;
    }
    .mbl-menu.open{
        display: block;
    }
    .mbl-menu li{
        margin-top: 13px;
        text-align: right;
    }
    .mbl-menu li a:hover{
        color: #1F77B4;
    }
    .mbl-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mbl-button{
        display: block;
        padding: 0 13px;
        font-size: 29px;
        background-color: #223A4A;
        border: none;
        color: #42708f;
        cursor: pointer;
    }
}


@media screen and (max-width: 740px) {
    
      .section-contact .head-label{
        flex-direction: column;
        align-items: start;
      }
      .info-block{
        margin-left: 0;
      }
      .contact-grid{
        grid-template-columns: 1fr;
      }
}

@media screen and (max-width: 640px) {
    .head-label h1{
        font-size: 38px;
    }
    .email-block input{
        width: 100%;
    }
    .email-block button{
        width: 100%;
    }
    .contact-form input , textarea{
        font-size: 16px;
    }
    .section-contact .head-label h1{
        font-size: 23px;
    }
    .info-block h1{
        margin: 15px 0;
        font-size: 25px;
    }
}