/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    padding: 8px 13px;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 13px 8px;
    position: relative;
}
.lg-img{
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 18px;
    font-weight: 600;
}
.lg-img div {
    height: 55px;
    width: 305px;
}
.lg-img div > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header a{
    color: white;
    transition: ease .4s;
}
header a:hover{
    color: #223A4A;
}
.lg-nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    font-size: 30px;
    font-weight: 600;
}
.lg-nav-links div{
    display: flex;
    justify-content: center;
    gap: 33px;
}
.lg-nav-links div > a{
    color: white;
    background-color: #223A4A;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #42708f;
}
.lg-nav-links a:hover{
    background-color: #42708f;
}

.mbl-img , .mbl-button{
    display: none;
}

#contact-us-btn{
    background-image: linear-gradient(135deg, #63AAE3 0%, #1F77B4 100%);
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 8px 33px;
    font-size: 19px;
}
#contact-us-btn:hover{
    background-image: linear-gradient(135deg,#1F77B4  0%, #63AAE3 100%);
}


.banner{
    background-image: url(../assets/service-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.shadow{
    background-color: rgba(0, 0, 0, 0.644);
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.banner .text-box{
    position: relative;
    z-index: 10;
    color: white;
}
.text-box h1{
    font-weight: 800;
    font-size: 55px;
}
.text-box p{
    color: slategray;
    font-size: 23px;
}

.service-description{
    background-color: #0D161C;
    display: flex;
    
    padding: 55px 33px;
    gap: 54px;
}

.service-description > div:nth-child(2){
    width: 100%;
}

.service-description > div:nth-child(1){
    width: 100%;
    height: 100%;
}
.service-description img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.service-description h3{
    color: #1F77B4;
    
}
.service-description h2{
    color: white;
    margin-top: 18px;
    font-size: 43px;
}
.service-description p{
    color: slategrey;
    font-size: 19px;
    margin-top: 13px;
}



.our-services{
    background-color: #060B0E;
    padding: 65px 33px;
    text-align: center;
}
.service-tbox h2{
    color: white;
    font-size: 53px;
}
.service-tbox h3{
    color: #1F77B4;
}

.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 44px;
    padding: 55px 0px;
}
.card{
    background-color: #223A4A;
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        word-spacing: -0.05em;
    padding: 33px;
    border-radius: 10px;
}
.card > div{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    text-align: left;
    gap: 33px;
}

.card img{
    width: 55px;

}
.card h3{
    font-size: 33px;
    font-weight: 400;
}
.card p{
    color: slategray;
    margin-top: 24px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px 33px;
    background-color: #0D161C;
    flex-wrap: wrap;
    gap: 53px;

}
footer div,ul{
    flex-grow: 1;
    flex-basis: 200;
}

footer p{
    color: slategray;
}
footer h2{
    color: white;
}
ul{
    display: flex;
    gap: 33px;
    align-items: center;
    
}

ul li a{
    color: white;
}
form{
    display: flex;
    margin-top: 13px;
    gap: 18px;
}
form input{
    background-color: #060B0E;
    padding: 13px 8px;
    outline: none;
    border-radius: 10px;
    border: none;
    color: white;
}

form  input,#submit{
    flex-grow: 1;
    flex-basis: 200;
}


.get-started {
    color: white;
    background-image: linear-gradient(135deg, #63AAE3 0%, #1F77B4 100%);
    padding: 8px 33px;
    font-size: 18px;
    
    border: none;
    border-radius: 10px;
}
.get-started:hover{
    background-image: linear-gradient(135deg,#1F77B4  0%, #63AAE3 100%);
    cursor: pointer;
}



.mbl-menu{
    display: none;
}

@media screen and (max-width: 1050px) {
    .services-grid{
        grid-template-columns:1fr 1fr;
    }
    .service-description{
        flex-direction: column;
    }
}




@media screen and (max-width: 850px) {

    .lg-img, .lg-nav-links{
        display: none;
    }
    .mbl-img{
        display: block;
        height: 55px;
        width: 305px;
    }
    .mbl-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mbl-button{
        display: block;
        padding: 0 13px;
        font-size: 29px;
        background-color: #223A4A;
        border: none;
        color: #42708f;
    }
    .mbl-menu{
        width: 97%;
        position: absolute;
        background-color: #223A4A;
        top: 84px;
        padding: 8px 13px;
    }
    .mbl-menu.open{
        display: block;
    }
    .mbl-menu li{
        margin-top: 13px;
        text-align: right;
    }
    .mbl-menu li a:hover{
        color: #1F77B4;
    }
}


@media screen and (max-width: 720px) {
    .text-box{
        height: 100%;
        padding: 53px 8px;
    }
    .text-box h1{
        font-weight: 800;
        font-size: 45px;
    }
    .text-box p{
        color: slategray;
        font-size: 23px;
    }
    .services-grid{
        grid-template-columns: 1fr;
    }
    form{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .text-box h1{
        font-size: 23px;
    }
    .text-box p{
        font-size: 18px;
    }
    .card{
        padding: 12px;
    }
    
    .line{
        width: 50%;
        height: 1px;
    }
    footer img{
        width: 250px;
    }
}